body{
	background-color: #fff;

}
.main{
	max-width: 1000px;
	min-height: 1000px;
	background-color: transparent;
	margin: 0 auto;
	padding: 0px;
	overflow: auto;

}
h1{
	text-align: center;
	font-size: 50px;
}
hr{
	width: 400px;
	background-color: red;
}
.one{
	width: 50%;
	height: 500px;
	
	float: left;
}
.two{
	width: 50%;
	height: 500px;
	float: left;
}
.three{
	width: 50%;
	height: 500px;
	float: left;
}
.four{
	width: 50%;
	height: 500px;
	float: left;
}
.five{
	width: 50%;
	height: 500px;
	float: left;
}
.six{
	width: 50%;
	height: 500px;
	float: left;

}
img{
	border-radius: 250px;
}


@media screen and (max-width: 800px){
	.main{
		padding: 10px;

}
	body{
		background-color: red;
	}

	.one, .two, .three, .four, .five, .six{
		width: 80%;


	}
} 


@media screen and (max-width: 400px){
	
	.main{
		padding:5px;
	}
	.one, .two, .three, .four, .five, .six{
		width: 100%;
		margin: 0 auto;


	}

	body{
		background-color: yellow;
	} 

}